*{
    box-sizing: border-box;
    font-size: 21px;
    text-align: center;
}
h1{
    color: rgb(104, 110, 190);
    font-size: 1.7em;
}
.u-full-width{
    margin-top: 10px;
    margin-bottom: 10px;
}

.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}
.success{
    background: green;
}
.error{
    background: red;
}
th{
    padding-left: 60px;
    font-size: 26px;
}
input{
    width: 29vw;
    height: 6vh;
    border-radius: 10px;
    cursor: pointer;
}
.u-full-widthw{
    width: 10vw;
    border-color: rgb(104, 110, 190);
    background-color:  rgb(104, 110, 190);
    margin: 10px;
}
.u-full-widthe{
    display: flex;
    justify-content: center;
    
}
hr{
    width: 29vw;
}